version: "3.9"

services:
#    client-web:
#        build:
#            context: ../client-web
#            dockerfile: $PWD/builder/client-web/Dockerfile.prod
#        command: nginx -g "daemon off;"
#        ports:
#            - ${CLIENT_WEB_PORT_EXTERNAL}:${CLIENT_WEB_PORT}
#        depends_on:
#            - api-gateway
#        networks:
#            - food-delivery-app-external

    api-gateway:
        restart: always
        build:
            context: ../api
            dockerfile: $PWD/builder/api/Dockerfile
            args:
                API_COMMON_VERSION: ${API_COMMON_VERSION}
                DOCKER_API_COMMON_REPOSITORY: ${DOCKER_API_COMMON_REPOSITORY}
                DOCKER_NAMESPACE: ${DOCKER_NAMESPACE}
                MODULE: api-gateway
                PROFILE: prod
        command: java -jar /app/api-gateway.jar
        ports:
            - ${API_GATEWAY_PORT_EXTERNAL}:${API_GATEWAY_PORT}
        depends_on:
            - api-food-delivery
            - db
        tty: true
        networks:
            - food-delivery-app-external
            - food-delivery-app-internal
        environment:
            - API_FOOD_DELIVERY_HOST
            - API_FOOD_DELIVERY_PORT
            - API_GATEWAY_PORT
            - JWT_SECRET

    api-food-delivery:
        restart: always
        build:
            context: ../api
            dockerfile: $PWD/builder/api/Dockerfile
            args:
                API_COMMON_VERSION: ${API_COMMON_VERSION}
                DOCKER_API_COMMON_REPOSITORY: ${DOCKER_API_COMMON_REPOSITORY}
                DOCKER_NAMESPACE: ${DOCKER_NAMESPACE}
                MODULE: api-food-delivery
                PROFILE: prod
        command: java -jar /app/api-food-delivery.jar
        ports:
            - ${API_FOOD_DELIVERY_PORT_EXTERNAL}:${API_FOOD_DELIVERY_PORT}
        depends_on:
            - db
        tty: true
        networks:
            - food-delivery-app-internal
        environment:
            - API_FOOD_DELIVERY_PORT
            - DB_HOST
            - DB_PORT
            - DB_NAME
            - DB_USER
            - DB_PASSWORD

    db:
        networks:
            - food-delivery-app-internal
        volumes:
            - db-data_prod:${DB_DATA_PATH}

volumes:
    db-data_prod:
        driver: local

networks:
    food-delivery-app-external:
        driver: bridge
    food-delivery-app-internal:
        driver: bridge
